@import '@/styles/mixin.less';

.selectTreeModalWrap {
  display: flex;
  height: 360px;
  border: 1px solid @borderColor;
  border-radius: 4px;
  .treeAreaWrap {
    width: 368px;
    padding: 15px;
    color: @titleColor;
    border-right: 1px solid @borderColor;
    .searchResultsWrap {
      padding-left: 15px;
      .searchResultsItem {
        display: flex;
        align-items: center;
        cursor: pointer;
      }
      .searchResultsItemSelected {
        background-color: @bgColor;
        color: @primaryColor;
      }
    }
    .emptyStatus {
      margin-top: 70px;
    }
  }

  .selectedAreaWrap {
    width: 368px;
    padding: 15px;
    color: @titleColor;
    .selectAreaTitle {
      padding-bottom: 4px;
    }
    .selectedAreaItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 4px;
      color: @titleColor;
      &:hover {
        background-color: @bgColor;
        color: @primaryColor;
      }
      .removeBtn {
        text-align: center;
        cursor: pointer;
      }
    }
  }
}
