@font-face {
  font-family: 'iconfont'; /* Project id 2886139 */
  src: url('//at.alicdn.com/t/font_2886139_bw8b5g4fost.woff2?t=1635127831269') format('woff2'),
    url('//at.alicdn.com/t/font_2886139_bw8b5g4fost.woff?t=1635127831269') format('woff'),
    url('//at.alicdn.com/t/font_2886139_bw8b5g4fost.ttf?t=1635127831269') format('truetype'),
    url('//at.alicdn.com/t/font_2886139_bw8b5g4fost.svg?t=1635127831269#iconfont') format('svg');
}

.iconX {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  color: #646a73;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
