@import '@/styles/mixin.less';

.amountWrap {
  font-size: @titleSize;
  padding: 10px 0 12px;
  background-color: #fff;
  .amountTitle {
    padding-bottom: 12px;
    color: @titleColor;
    .requiredStar {
      .sc(19px, @requireColor);
    }
  }
  .amountPlaceholder {
    color: @placeholderColor;
  }
}
