@import '@/styles/mixin.less';

.amountWrap {
  padding: 10px 16px 12px;
  font-size: @titleSize;
  background-color: #fff;
  .amountTitle {
    padding-bottom: 12px;
    color: @titleColor;
    .requiredStar {
      .sc(19px, @requireColor);
      vertical-align: middle;
    }
  }
  .amountPlaceholder {
    color: @placeholderColor;
  }
}
