@import '@/styles/mixin.less';

.multipleTxtWrap {
  font-size: @titleSize;
  padding: 12px 0;
  background-color: #fff;
  .multipleTxtTitle {
    padding-bottom: 12px;
    color: @titleColor;
    .requiredStar {
      .sc(19px, @requireColor);
    }
  }
  .multipleTxtPlaceholder {
    padding-bottom: 28px;
    color: @placeholderColor;
  }
}
